################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/WPFLearning/FileContentIndex
/.vs/WPFLearning/v17/.suo
/20240623_WPF3D图形渲染和模型对接/XH.ThreeDLesson/obj/Debug/net7.0-windows/XH.ThreeDLesson.AssemblyInfo.cs
/20240623_WPF3D图形渲染和模型对接/XH.ThreeDLesson/obj/Debug/net7.0-windows/XH.ThreeDLesson.AssemblyInfoInputs.cache
/20240724_WPF自定义控件/XH.CustomLesson/obj/Debug/net7.0-windows/XH.CustomLesson.AssemblyInfo.cs
/20240724_WPF自定义控件/XH.CustomLesson/obj/Debug/net7.0-windows/XH.CustomLesson.AssemblyInfoInputs.cache
/20240727_WPFMvvm/XH.Mvvm/obj/Debug/net7.0-windows/XH.Mvvm_ichznxsi_wpftmp.AssemblyInfo.cs
/20240727_WPFMvvm/XH.Mvvm/obj/Debug/net7.0-windows/XH.Mvvm_ichznxsi_wpftmp.AssemblyInfoInputs.cache
/20240727_WPFMvvm/XH.Mvvm/obj/Debug/net7.0-windows/XH.Mvvm_ichznxsi_wpftmp.assets.cache
/20240727_WPFMvvm/XH.Mvvm/obj/Debug/net7.0-windows/XH.Mvvm_ichznxsi_wpftmp.csproj.BuildWithSkipAnalyzers
/20240727_WPFMvvm/XH.Mvvm/obj/Debug/net7.0-windows/XH.Mvvm_ichznxsi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/20240727_WPFMvvm/XH.Mvvm/obj/Debug/net7.0-windows/XH.Mvvm_ichznxsi_wpftmp.GlobalUsings.g.cs
/20240727_WPFMvvm/XH.Mvvm/obj/Debug/net7.0-windows/XH.Mvvm_ichznxsi_wpftmp.sourcelink.json
/20240727_WPFMvvm/XH.MvvmLesson/obj/Debug/net7.0-windows/Mvvm/MvvmWindow.g.i.cs
/20240727_WPFMvvm/XH.MvvmLesson/obj/Debug/net7.0-windows/MainWindow.g.i.cs
/20240727_WPFMvvm/XH.MvvmLesson/obj/Debug/net7.0-windows/Normal/NormalWindow.g.i.cs
/20240727_WPFMvvm/XH.MvvmLesson/obj/Debug/net7.0-windows/XH.MvvmLesson.AssemblyInfo.cs
/20240727_WPFMvvm/XH.MvvmLesson/obj/Debug/net7.0-windows/XH.MvvmLesson.AssemblyInfoInputs.cache
/20240727_WPFMvvm/XH.MvvmLesson/obj/Debug/net7.0-windows/XH.MvvmLesson_MarkupCompile.i.cache
/20240727_WPFMvvm/XH.MvvmLesson/obj/Debug/net7.0-windows/XH.MvvmLesson_MarkupCompile.i.lref
/20240727_WPFMvvm/XH.MvvmPattern/obj/Debug/net7.0-windows/Controls/DateTimePicker.g.i.cs
/20240727_WPFMvvm/XH.MvvmPattern/obj/Debug/net7.0-windows/Controls/DateTimePickerIcon.g.i.cs
/20240727_WPFMvvm/XH.MvvmPattern/obj/Debug/net7.0-windows/Views/CommandWindow.g.i.cs
/20240727_WPFMvvm/XH.MvvmPattern/obj/Debug/net7.0-windows/Views/MainWindow.g.i.cs
/20240727_WPFMvvm/XH.MvvmPattern/obj/Debug/net7.0-windows/Views/ScottPlotWindow.g.i.cs
/20240727_WPFMvvm/XH.MvvmPattern/obj/Debug/net7.0-windows/XH.MvvmPattern.AssemblyInfo.cs
/20240727_WPFMvvm/XH.MvvmPattern/obj/Debug/net7.0-windows/XH.MvvmPattern.AssemblyInfoInputs.cache
/20240727_WPFMvvm/XH.MvvmPattern/obj/Debug/net7.0-windows/XH.MvvmPattern_MarkupCompile.i.cache
/20240727_WPFMvvm/XH.MvvmPattern/obj/Debug/net7.0-windows/XH.MvvmPattern_MarkupCompile.i.lref
