<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--name：modules
        type：引入wpf-->
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  <modules>
    <!--assemblyFile：模块的程序集
        moduleName：模块的名称
        moduleType：typeof(AModule).AssemblyQualifiedName，就是模块的全名称-->
    <module assemblyFile = "XH.PrismModule.ModuleA.dll"
            moduleName = "AModule"
            moduleType = "XH.PrismModule.ModuleA.AModule, XH.PrismModule.ModuleA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </modules>
</configuration>